
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" id="home">News Scraper</a>
    </div> 

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="/saved">Saved Articles</a></li>
      </ul>
      <form action="/scrape" method="POST" class="navbar-form navbar-left">
        <button type="submit" class="btn btn-default">SCRAPE NEW ARTICLES</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!--End navigation-->

<!-- Main container -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron vertical-center">
        <div class="backgroundpic">
         <div class="layer container text-center">
          <br><br><br><br><br><br>
          <h1>News Scraper</h1>
        </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {{#each articles}}

      <div class="card w-75">
        <div class="card-body">
         <h3 class="card-title"><a href="{{this.link}}" target="_blank">{{this.title}}</a></h3>
         <!-- <p class="card-text"><a href="{{this.link}}"><h5>Link to Article<h5></a></p> -->
         <form action="/save" method="POST">
                <input id="article-title" type="hidden" name="title" value="{{this.title}}">
                <input id="article-link" type="hidden" name="link" value={{this.link}}>
                <button type="submit" class="btn btn-default pull-center">SAVE ARTICLE</button>
          </form>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>